<!-- Dejamos sólo la parte específica de la vista porque el resto está en layout.ejs -->

<section>
    <h1>Bienvenido a P7 - Quiz - Juan Manuel Hernández</h1>
    <p>P7 - Quiz - Juan Manuel Hernández</p>
</section>