<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>P7 - Quiz - Juan Manuel Hernández</title>
</head>

<body>
    <div id="page">
        <header>
            <h1>P7 - Quiz - Juan Manuel Hernández (Header)</h1>
        </header>

        <nav>
            <a href="/">Home</a>
            <a href="/quizzes">Quizzes</a>
            <a href="/credits">Créditos</a>
        </nav>

        <%- body %>

            <footer>
                <hr/> P7 - Quiz - Juan Manuel Hernández (Footer)
                <hr/>
            </footer>
    </div>
</body>

</html>